@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fde047;
}

html,
body {
  background-color: #0a0a0a; /* الفخامة الإجباري */
  color: #ffffff;
}

/* عشان نضمن إن الدارك مود يفضل شغال حتى لو الأداة هنجت */
.dark body {
  background-color: #0a0a0a;
  color: #ffffff;
}

.light body {
  background-color: #f4f4f5;
  color: #000000;
}

@media (max-width: 768px) {
  body {
    padding-bottom: 80px; /* Space for Mobile Bottom Nav */
  }
}